<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valid 체크</title>
</head>
<body>
    <form action="/api/v1/valid" method="get">
        <label>
            <input type="text" name="name" placeholder="이름을 입력하세요."/>
        </label>
        <label>
            <input type="text" name="age" placeholder="나이을 입력하세요."/>
        </label>
        <label>
            <input type="text" name="email" placeholder="이메일을 입력하세요."/>
        </label>
        <button type="submit">제출하기</button>
    </form>
</body>
</html>